#filter-products{
    display: flex;
    justify-content: center;
}

#selectCategory{
    color: black;
}

#products-form{
    display: flex;
    flex-direction: row;
}

#products-form > * {
    margin: 10px;
}